* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #457b9d;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-1 {
    display: flex;
    justify-content: center;
}

.nav-1 a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial;
    margin-left: 25px;
    color: black;
}

